block.empty {
  border-bottom-color: rgba(0,0,0,0);
  border-top-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-right-color: rgba(0,0,0,0);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

block.filled {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#songrowprogress levelbar .empty {
  background-color: rgba(0,0,0,0);
}

row {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#pageplayer label {
  font-size: 150%;
}

albums_viewer {
  border-bottom-color: rgb(32,32,32);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

box-songs-viewer {
  border-right-color: rgb(32,32,32);
  border-right-style: solid;
  border-right-width: 1px;
}

rockarrolla-message-background {
  background-color: rgba(0,0,0,0.75);
}

.rockarrolla-dialog-initials-list {
  background-color: @theme_bg_color;
}

.rockarrolla-dialog-initials {
  background-color: @theme_bg_color;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rockarrolla-dialog-selected-song-button-yes {
  padding: 14px;
  border-radius: 0;
  border-left-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-bottom-right-radius: 10px;
}

.rockarrolla-dialog-selected-song-button-no {
  padding: 14px;
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.rockarrolla-dialog-selected-song {
  background-color: @theme_bg_color;
  padding-top: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rockarrolla-message {
  font-size: 200%;
  font-weight: bold;
}

.rockarrolla-message-borders {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.rockarrolla-message-error {
  background-color: @destructive_bg_color;
}

.rockarrolla-message-text {
  background-color: @theme_bg_color;
}

row.activatable:selected {
  background-color: @accent_bg_color;
}

flowboxchild:selected {
  background-color: @accent_bg_color;
}
